## practice 1

In [176]:
import re
import pandas as pd
import os

In [177]:
with open ('cisi_dataset/CISI.ALL') as f:
    data = f.read()
    raw_docs = [
            re.split(r"\.I\n|\.T\n|\.A\n|\.W\n|\.X\n|\n.T +\n|\n.A +\n|\n.W +\n", d)
            for d in data.split(".I ")
            if d
        ]
docs = []
for d in raw_docs:
    d = [s.replace('\n', '') for s in d]
    if len(d) != 5:
        d[2] = ' '.join(d[2:len(d)-2]).replace('\n', '')
    docs.append(
            {
                "id": int(d[0]),
                "title": d[1].strip(),
                "author": d[2].strip(),
                "text": d[-2].strip(),
                "related_texts": [
                    tuple(rel.split("\t")) for rel in d[-1].split(" ") if rel
                ],
            }
        )
docs = pd.DataFrame(docs)

In [178]:
docs

,id,title,author,text,related_texts
0,1,18 Editions of the Dewey Decimal Classifications,"Comaromi, J.P.",The present study is a history of the DEWEY De...,"[(1, 5, 192, 1, 1262, 1, 1556, 1, 11004, 1, 11..."
1,2,Use Made of Technical Libraries,"Slater, M.",This report is an analysis of 6300 acts of use...,"[(2, 5, 232, 1, 276, 1, 2132, 1, 2137, 1, 2139..."
2,3,Two Kinds of PowerAn Essay on Bibliographic Co...,"Wilson, P.",The relationships between the organization and...,"[(3, 7, 342, 1, 3172, 1, 3268, 1, 3292, 1, 332..."
3,4,Systems Analysis of a University Library; fina...,"Buckland, M.K.",The establishment of nine new universities in ...,"[(4, 10, 45, 2, 49, 1, 432, 1, 465, 1, 496, 1,..."
4,5,A Library Management Game:a report on a resear...,"Brophy, P.",Although the use of games in professional educ...,"[(4, 2, 55, 6, 590, 1, 591, 1, 5115, 1, 5158, ..."
...,...,...,...,...,...
1455,1456,World Dynamics,"Forrester, J.W.",Over the last several decades interest in econ...,"[(350, 1, 1456435, 1, 14561025, 1, 14561402, 1..."
1456,1457,World Trends in Library Education,"Bramley, G.",One of the most significant aspects of the evo...,"[(128, 1, 1457130, 1, 1457191, 1, 1457339, 1, ..."
1457,1458,Legal Restrictions on Exploitation of the Pate...,"Baxter, W.A.",The patent laws confer on a patentee power to ...,"[(1458, 5, 14581458, 5, 1458)]"
1458,1459,Language and Thought,"Poluskin, V.A.",This book considers the basic aspects of this ...,"[(362, 1, 1459585, 1, 14591093, 1, 14591107, 1..."
1459,1460,Modern Integral Information Systems for Chemis...,"Chernyi, A.I.","At the present time, about 15% of all the worl...","[(347, 1, 1460452, 1, 14601095, 1, 14601136, 1..."

#### with classes

In [179]:
from data import CISIData

In [180]:
data = CISIData('cisi_dataset')

In [181]:
data.documents.head()

,id,title,author,text,related_texts
0,1,18 Editions of the Dewey Decimal Classifications,"Comaromi, J.P.",The present study is a history of the DEWEY De...,"[(1, 5, 192, 1, 1262, 1, 1556, 1, 11004, 1, 11..."
1,2,Use Made of Technical Libraries,"Slater, M.",This report is an analysis of 6300 acts of use...,"[(2, 5, 232, 1, 276, 1, 2132, 1, 2137, 1, 2139..."
2,3,Two Kinds of PowerAn Essay on Bibliographic Co...,"Wilson, P.",The relationships between the organization and...,"[(3, 7, 342, 1, 3172, 1, 3268, 1, 3292, 1, 332..."
3,4,Systems Analysis of a University Library; fina...,"Buckland, M.K.",The establishment of nine new universities in ...,"[(4, 10, 45, 2, 49, 1, 432, 1, 465, 1, 496, 1,..."
4,5,A Library Management Game:a report on a resear...,"Brophy, P.",Although the use of games in professional educ...,"[(4, 2, 55, 6, 590, 1, 591, 1, 5115, 1, 5158, ..."

In [182]:
data.documents['author'].value_counts()

author
Lancaster, F.W.                          8
Salton, G.                               7
Line, M.B.                               6
Brookes, B. C.                           6
Kilgour, F.G.                            5
                                        ..
Tell, Bjorn V.                           1
Thiel, L. H.Heaps, H. S.                 1
Williams, Martha E.                      1
Garvey, William D.Griffith, Belver C.    1
Poluskin, V.A.                           1
Name: count, Length: 1231, dtype: int64

In [183]:
data.documents.loc[data.documents['author'] == 'Lancaster, F.W.']

,id,title,author,text,related_texts
74,75,MEDLARS: Report on the Evaluation of Its Opera...,"Lancaster, F.W.",A comprehensive program to evaluate the perfor...,"[(24, 3, 7530, 1, 7538, 1, 7543, 1, 7547, 1, 7..."
193,194,The Evaluation of Published Indexes and Abstra...,"Lancaster, F.W.",This paper describes possible criteria by whic...,"[(86, 1, 194114, 1, 194154, 1, 194172, 1, 1941..."
450,451,Interaction Between Requesters and a Large Mec...,"Lancaster, F.W.","In a large mechanized retrieval system, a cert...","[(29, 2, 45158, 3, 45166, 1, 451124, 1, 451127..."
457,458,Information Retrieval Systems,"Lancaster, F.W.","This book is concerned primarily with those ""i...","[(29, 1, 45839, 1, 45851, 1, 45857, 1, 45861, ..."
458,459,Information Retrieval On-Line,"Lancaster, F.W.",This book deals with on-line systems for bibli...,"[(10, 1, 45918, 3, 45961, 1, 459114, 1, 459120..."
590,591,The Cost-Effectiveness Analysis of Information...,"Lancaster, F.W.",A distinction is made between cost-effectivene...,"[(18, 1, 59127, 1, 59134, 1, 59149, 1, 59153, ..."
827,828,A Study of Current Awareness Publications in t...,"Lancaster, F.W.",Mailed questionnaires were used to study the u...,"[(10, 1, 82818, 1, 82834, 1, 82849, 1, 82853, ..."
1447,1448,Vocabulary Control for Information Retrieval,"Lancaster, F.W.",This book deals with properties of vocabularie...,"[(30, 1, 144834, 1, 144838, 1, 144873, 1, 1448..."

## practice 2

In [184]:
data = pd.read_csv('./spotify_data.csv', sep = ',')

In [185]:
data

                            Songs & Artist     Streams      Daily
0             The Weeknd - Blinding Lights  4463658617  1619447.0
1                Ed Sheeran - Shape of You  4018102402  1001507.0
2        Lewis Capaldi - Someone You Loved  3588673578  1506961.0
3                 Harry Styles - As It Was  3544187311  1611374.0
4                  Post Malone - Sunflower  3518744128  1337404.0
...                                    ...         ...        ...
2495                Myke Towers - LA FALDA   505592800  1278450.0
2496  Social House - Magic In The Hamptons   505511969   118483.0
2497         KISS - Rock And Roll All Nite   505386377   205701.0
2498                            Mora - 512   505309100   280336.0
2499               Meghan Trainor - Me Too   505249124   288515.0

[2500 rows x 3 columns]

In [186]:
data.shape

(2500, 3)

In [187]:
data.dtypes

Songs & Artist     object
Streams             int64
Daily             float64
dtype: object

In [188]:
data.describe() # works only with continuos variables

            Streams         Daily
count  2.500000e+03  2.498000e+03
mean   9.381437e+08  5.044663e+05
std    4.788772e+08  4.963328e+05
min    5.052491e+08  7.523000e+03
25%    6.099077e+08  2.245135e+05
50%    7.628053e+08  3.763570e+05
75%    1.096878e+09  6.318060e+05
max    4.463659e+09  7.553534e+06

In [189]:
data.describe(include='all')

                              Songs & Artist       Streams         Daily
count                                   2500  2.500000e+03  2.498000e+03
unique                                  2474           NaN           NaN
top     Super Yei - La Forma en Que Me Miras           NaN           NaN
freq                                       2           NaN           NaN
mean                                     NaN  9.381437e+08  5.044663e+05
std                                      NaN  4.788772e+08  4.963328e+05
min                                      NaN  5.052491e+08  7.523000e+03
25%                                      NaN  6.099077e+08  2.245135e+05
50%                                      NaN  7.628053e+08  3.763570e+05
75%                                      NaN  1.096878e+09  6.318060e+05
max                                      NaN  4.463659e+09  7.553534e+06

In [190]:
data['Streams'] # this will be a pandas series

0       4463658617
1       4018102402
2       3588673578
3       3544187311
4       3518744128
           ...
2495     505592800
2496     505511969
2497     505386377
2498     505309100
2499     505249124
Name: Streams, Length: 2500, dtype: int64

In [191]:
data['Streams'].shape

(2500,)

In [192]:
data.columns

Index(['Songs & Artist', 'Streams', 'Daily'], dtype='object')

In [193]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2495    False
2496    False
2497    False
2498    False
2499    False
Length: 2500, dtype: bool

In [194]:
sum(data.duplicated()) # how many duplicates i have in my dataset ? in this case zero

0

In [195]:
data[data.duplicated(subset=['Songs & Artist'], keep=False)]

                                  Songs & Artist     Streams      Daily
43                      The Weeknd - Die For You  2424085403  1667707.0
78                         Dua Lipa - Levitating  2154284982   893251.0
85                  The Weeknd - Save Your Tears  2106540115   999562.0
152                          Sia - Cheap Thrills  1816755550   361118.0
163                       Luis Fonsi - Despacito  1800662716   555695.0
183                       Luis Fonsi - Despacito  1739696575   246341.0
230                 The Weeknd - Save Your Tears  1641748842   751787.0
232                         Ed Sheeran - Shivers  1641091438   576659.0
266                    Lil Nas X - Old Town Road  1549228839   206616.0
298              Coldplay - Hymn for the Weekend  1496256559  1056203.0
308                             Rema - Calm Down  1483474961   873674.0
362            Billie Eilish - Happier Than Ever  1394078140   682106.0
398                         Ed Sheeran - Shivers  1356315091        NaN
712                    Lil Nas X - Old Town Road  1029388334   189386.0
784                        Dua Lipa - Levitating   987773822   334828.0
794                     The Weeknd - Die For You   984347878   733231.0
819                 Tove Lo - Habits (Stay High)   967185289   466186.0
845   Elvis Presley - Can't Help Falling in Love   953534151   665740.0
970                           Taylor Swift - ME!   884543285   182419.0
995                      Kid Cudi - Day 'N' Nite   871387550   353965.0
1035  Elvis Presley - Can't Help Falling in Love   846573905   497676.0
1038                     Kid Cudi - Day 'N' Nite   846085321   318493.0
1090                 Olivia Rodrigo - All I Want   823896543   455847.0
1233                 Olivia Rodrigo - All I Want   768847035   487824.0
1276                              Lil Tjay - F.N   754521936   226976.0
1294                         Sia - Cheap Thrills   750321259   374355.0
1358                          Taylor Swift - ME!   730859004   320741.0
1448              Lil Uzi Vert - Just Wanna Rock   706064376   321109.0
1461                           Sech - Otro Trago   702218100    74680.0
1481                       Dua Lipa - Love Again   695558133   409176.0
1547              Lil Uzi Vert - Just Wanna Rock   676421811   398761.0
1610             Coldplay - Hymn for the Weekend   661017746    49584.0
1660                 Kina - Can We Kiss Forever?   650333693   147605.0
1694                       Dua Lipa - Love Again   642320839   286822.0
1756                Tove Lo - Habits (Stay High)   629870714   124970.0
1769    Simon & Garfunkel - The Sound of Silence   628244943   549285.0
1795                              Lil Tjay - F.N   624709072        NaN
1827                 Kina - Can We Kiss Forever?   617681058   179852.0
1849                            Rema - Calm Down   613460856   259954.0
1861                        CKay - love nwantiti   611824749   156699.0
1974                     Sam Feldt - Post Malone   593078036    91025.0
2037                        CKay - love nwantiti   582038804   156025.0
2071               Starship - We Built This City   576046295   222306.0
2106        Super Yei - La Forma en Que Me Miras   570110083   297587.0
2137                           Sech - Otro Trago   564511227    74081.0
2157                     Sam Feldt - Post Malone   559507066    95753.0
2208    Simon & Garfunkel - The Sound of Silence   549644238   277428.0
2250        Super Yei - La Forma en Que Me Miras   542582207   295106.0
2289                  Black Eyed Peas - MAMACITA   535539463    74105.0
2393               Starship - We Built This City   519328507   251555.0
2465           Billie Eilish - Happier Than Ever   509657354   112239.0
2488                  Black Eyed Peas - MAMACITA   505990099    99626.0

In [196]:
data.drop_duplicates(subset='Songs & Artist') # so we are going to remove the duplicates of the variable 'Songs & Artist'

                            Songs & Artist     Streams      Daily
0             The Weeknd - Blinding Lights  4463658617  1619447.0
1                Ed Sheeran - Shape of You  4018102402  1001507.0
2        Lewis Capaldi - Someone You Loved  3588673578  1506961.0
3                 Harry Styles - As It Was  3544187311  1611374.0
4                  Post Malone - Sunflower  3518744128  1337404.0
...                                    ...         ...        ...
2495                Myke Towers - LA FALDA   505592800  1278450.0
2496  Social House - Magic In The Hamptons   505511969   118483.0
2497         KISS - Rock And Roll All Nite   505386377   205701.0
2498                            Mora - 512   505309100   280336.0
2499               Meghan Trainor - Me Too   505249124   288515.0

[2474 rows x 3 columns]

DataFrame.drop_duplicates(subset=None, *, keep='first', inplace=False, ignore_index=False)
Return DataFrame with duplicate rows removed.

Parameters:
- subsetcolumn label or sequence of labels, optional
- Only consider certain columns for identifying duplicates, by default use all of the columns.

keep{‘first’, ‘last’, False}, default ‘first’
Determines which duplicates (if any) to keep.

- ‘first’ : Drop duplicates except for the first occurrence.

- ‘last’ : Drop duplicates except for the last occurrence.

- False : Drop all duplicates.

inplacebool, default False
Whether to modify the DataFrame rather than creating a new one.

ignore_indexbool, default False
If True, the resulting axis will be labeled 0, 1, …, n - 1.

In [197]:
data.drop_duplicates(subset='Songs & Artist', keep = 'first')

                            Songs & Artist     Streams      Daily
0             The Weeknd - Blinding Lights  4463658617  1619447.0
1                Ed Sheeran - Shape of You  4018102402  1001507.0
2        Lewis Capaldi - Someone You Loved  3588673578  1506961.0
3                 Harry Styles - As It Was  3544187311  1611374.0
4                  Post Malone - Sunflower  3518744128  1337404.0
...                                    ...         ...        ...
2495                Myke Towers - LA FALDA   505592800  1278450.0
2496  Social House - Magic In The Hamptons   505511969   118483.0
2497         KISS - Rock And Roll All Nite   505386377   205701.0
2498                            Mora - 512   505309100   280336.0
2499               Meghan Trainor - Me Too   505249124   288515.0

[2474 rows x 3 columns]

In [198]:
data.isna()

      Songs & Artist  Streams  Daily
0              False    False  False
1              False    False  False
2              False    False  False
3              False    False  False
4              False    False  False
...              ...      ...    ...
2495           False    False  False
2496           False    False  False
2497           False    False  False
2498           False    False  False
2499           False    False  False

[2500 rows x 3 columns]

DataFrame.dropna(*, axis=0, how=<no_default>, thresh=<no_default>, subset=None, inplace=False, ignore_index=False)[source]
Remove missing values.

Parameters:
axis{0 or ‘index’, 1 or ‘columns’}, default 0
Determine if rows or columns which contain missing values are removed.

- 0, or ‘index’ : Drop rows which contain missing values.

- 1, or ‘columns’ : Drop columns which contain missing value.

Only a single axis is allowed.

how{‘any’, ‘all’}, default ‘any’
Determine if row or column is removed from DataFrame, when we have at least one NA or all NA.

- ‘any’ : If any NA values are present, drop that row or column.

- ‘all’ : If all values are NA, drop that row or column.

threshint, optional
Require that many non-NA values. Cannot be combined with how.

subsetcolumn label or sequence of labels, optional
Labels along other axis to consider, e.g. if you are dropping rows these would be a list of columns to include.

inplacebool, default False
Whether to modify the DataFrame rather than creating a new one.

ignore_indexbool, default False
If True, the resulting axis will be labeled 0, 1, …, n - 1.

In [199]:
data.dropna(how='any', axis = 0) # 0 means rows whiel 1 means columns

                            Songs & Artist     Streams      Daily
0             The Weeknd - Blinding Lights  4463658617  1619447.0
1                Ed Sheeran - Shape of You  4018102402  1001507.0
2        Lewis Capaldi - Someone You Loved  3588673578  1506961.0
3                 Harry Styles - As It Was  3544187311  1611374.0
4                  Post Malone - Sunflower  3518744128  1337404.0
...                                    ...         ...        ...
2495                Myke Towers - LA FALDA   505592800  1278450.0
2496  Social House - Magic In The Hamptons   505511969   118483.0
2497         KISS - Rock And Roll All Nite   505386377   205701.0
2498                            Mora - 512   505309100   280336.0
2499               Meghan Trainor - Me Too   505249124   288515.0

[2498 rows x 3 columns]

In [200]:
data.dropna(inplace=True) # is equal to data = data.dropna()

In [201]:
data

                            Songs & Artist     Streams      Daily
0             The Weeknd - Blinding Lights  4463658617  1619447.0
1                Ed Sheeran - Shape of You  4018102402  1001507.0
2        Lewis Capaldi - Someone You Loved  3588673578  1506961.0
3                 Harry Styles - As It Was  3544187311  1611374.0
4                  Post Malone - Sunflower  3518744128  1337404.0
...                                    ...         ...        ...
2495                Myke Towers - LA FALDA   505592800  1278450.0
2496  Social House - Magic In The Hamptons   505511969   118483.0
2497         KISS - Rock And Roll All Nite   505386377   205701.0
2498                            Mora - 512   505309100   280336.0
2499               Meghan Trainor - Me Too   505249124   288515.0

[2498 rows x 3 columns]

In [202]:
data.drop_duplicates(subset='Songs & Artist', inplace=True)

In [203]:
data # dataset without missing values and duplicates

                            Songs & Artist     Streams      Daily
0             The Weeknd - Blinding Lights  4463658617  1619447.0
1                Ed Sheeran - Shape of You  4018102402  1001507.0
2        Lewis Capaldi - Someone You Loved  3588673578  1506961.0
3                 Harry Styles - As It Was  3544187311  1611374.0
4                  Post Malone - Sunflower  3518744128  1337404.0
...                                    ...         ...        ...
2495                Myke Towers - LA FALDA   505592800  1278450.0
2496  Social House - Magic In The Hamptons   505511969   118483.0
2497         KISS - Rock And Roll All Nite   505386377   205701.0
2498                            Mora - 512   505309100   280336.0
2499               Meghan Trainor - Me Too   505249124   288515.0

[2474 rows x 3 columns]

In [204]:
data['Daily'].dtype

dtype('float64')

In [205]:
data['Daily'] = data['Daily'].astype(int)

In [206]:
data['Daily'].dtype

dtype('int32')

In [207]:
data

                            Songs & Artist     Streams    Daily
0             The Weeknd - Blinding Lights  4463658617  1619447
1                Ed Sheeran - Shape of You  4018102402  1001507
2        Lewis Capaldi - Someone You Loved  3588673578  1506961
3                 Harry Styles - As It Was  3544187311  1611374
4                  Post Malone - Sunflower  3518744128  1337404
...                                    ...         ...      ...
2495                Myke Towers - LA FALDA   505592800  1278450
2496  Social House - Magic In The Hamptons   505511969   118483
2497         KISS - Rock And Roll All Nite   505386377   205701
2498                            Mora - 512   505309100   280336
2499               Meghan Trainor - Me Too   505249124   288515

[2474 rows x 3 columns]

In [208]:
data['Songs & Artist'].str.split(' - ', n=1, expand=True)

                   0                       1
0         The Weeknd         Blinding Lights
1         Ed Sheeran            Shape of You
2      Lewis Capaldi       Someone You Loved
3       Harry Styles               As It Was
4        Post Malone               Sunflower
...              ...                     ...
2495     Myke Towers                LA FALDA
2496    Social House   Magic In The Hamptons
2497            KISS  Rock And Roll All Nite
2498            Mora                     512
2499  Meghan Trainor                  Me Too

[2474 rows x 2 columns]

In [209]:
data[['artist','song']] = data['Songs & Artist'].str.split(' - ', n=1, expand=True)

In [210]:
data = data.drop('Songs & Artist', axis=1)

In [211]:
data

         Streams    Daily          artist                    song
0     4463658617  1619447      The Weeknd         Blinding Lights
1     4018102402  1001507      Ed Sheeran            Shape of You
2     3588673578  1506961   Lewis Capaldi       Someone You Loved
3     3544187311  1611374    Harry Styles               As It Was
4     3518744128  1337404     Post Malone               Sunflower
...          ...      ...             ...                     ...
2495   505592800  1278450     Myke Towers                LA FALDA
2496   505511969   118483    Social House   Magic In The Hamptons
2497   505386377   205701            KISS  Rock And Roll All Nite
2498   505309100   280336            Mora                     512
2499   505249124   288515  Meghan Trainor                  Me Too

[2474 rows x 4 columns]

In [226]:
data = data.rename(columns={'Streams': 'streams', 'Daily': 'daily'})

In [227]:
data['artist'].value_counts()

artist
Taylor Swift      41
Bad Bunny         36
Drake             33
Billie Eilish     26
The Weeknd        24
                  ..
Sub Urban          1
Arizona Zervas     1
*NSYNC             1
Don McLean         1
Social House       1
Name: count, Length: 993, dtype: int64

In [228]:
data.loc[data['artist'] == 'Taylor Swift']

,streams,daily,artist,song
39,2481542457,2271270,Taylor Swift,Cruel Summer
128,1909046390,674338,Taylor Swift,Blank Space
221,1663786298,786091,Taylor Swift,Anti-Hero
274,1539880718,1035606,Taylor Swift,Lover
311,1479530912,604852,Taylor Swift,Shake It Off
344,1421155316,1072449,Taylor Swift,cardigan
445,1275999844,497318,Taylor Swift,Style
462,1243764603,1298139,Taylor Swift,august
487,1216808688,837279,Taylor Swift,Don’t Blame Me
498,1207381259,431873,Taylor Swift,Look What You Made Me Do
693,1044022896,432322,Taylor Swift,Delicate
769,998230194,284991,Taylor Swift,Wildest Dreams
800,982026959,323081,Taylor Swift,You Need To Calm Down
889,926824958,287774,Taylor Swift,Love Story
930,900680667,532712,Taylor Swift,All Too Well (10 Minute Version) (Taylor's Ver...
942,895109334,425931,Taylor Swift,willow
970,884543285,182419,Taylor Swift,ME!
977,878438382,313209,Taylor Swift,I Knew You Were Trouble.
1041,844849233,338700,Taylor Swift,Enchanted
1045,843376080,639887,Taylor Swift,Love Story (Taylor’s Version)
1066,833979894,401398,Taylor Swift,Karma
1092,822293716,459426,Taylor Swift,The Man
1135,805750194,471832,Taylor Swift,exile
1170,790294569,470001,Taylor Swift,...Ready For It?
1172,789906684,441442,Taylor Swift,Wildest Dreams (Taylor's Version)
1293,750463859,310522,Taylor Swift,Lavender Haze
1345,736499138,631359,Taylor Swift,You Belong With Me (Taylor’s Version)
1447,706640175,327976,Taylor Swift,Getaway Car
1482,695445222,300292,Taylor Swift,Midnight Rain
1505,690149690,164303,Taylor Swift,We Are Never Ever Getting Back Together
1526,684362878,297506,Taylor Swift,Paper Rings
1580,668330605,203184,Taylor Swift,You Belong With Me
1637,655421920,382761,Taylor Swift,champagne problems
1645,653657575,1546641,Taylor Swift,Fortnight
1745,632224906,406977,Taylor Swift,"You're On Your Own, Kid"
1792,625169115,234748,Taylor Swift,Gorgeous
1797,624598156,189162,Taylor Swift,Bad Blood
1908,604548696,278262,Taylor Swift,the 1
2078,574645380,290016,Taylor Swift,Bejeweled
2212,549282321,609896,Taylor Swift,my tears ricochet
2370,521313596,173123,Taylor Swift,End Game

In [230]:
data.groupby('artist').agg({'streams': 'sum', 'daily': 'mean', 'song': 'count'})

                streams         daily  song
artist
$uicideboy$  1907960731  3.128140e+05     3
*NSYNC        766218771  2.538110e+06     1
21 Savage    5396315964  4.778884e+05     7
24kGoldn     1934675271  5.836910e+05     1
2Pac         3417713717  3.690510e+05     5
...                 ...           ...   ...
t.A.T.u.      572476768  2.885880e+05     1
will.i.am     802953468  3.425480e+05     1
zzoilo        720665392  2.896740e+05     1
¥$            576568114  8.024370e+05     1
Øneheart      744371488  8.984080e+05     1

[993 rows x 3 columns]

In [231]:
ranked_artist = data.groupby('artist').agg({'streams': 'sum', 'daily': 'mean', 'song': 'count'})

In [236]:
ranked_artist.to_csv('ranked_artist.csv')